body {
 background-color:red; 
}

.Skin #Buttons #NextButton{
 color:red: !important
}

.skin #Buttons {
max-width: 770px;
text-align: center;
padding: 40px 30px;
}

input #NextButton {
 color:red !important;
}
